<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Similarity Game</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div id="data-container" data-list='{{ data | tojson }}'></div>
    <div id="main">
        <div id="empty1" class="hint">
            <!-- empty -->
        </div>
        <div id="empty1">
            <div class="contexto">
                <div style="flex: 1;">
                    <h1>Contexto</h1>
                </div>
                <div class="dots-menu">
                    <button class="dots-button"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                    <div class="options-menu">
                        <ul>
                            <li><a href="#" class="help">Hint</a></li>
                            <li><a href="#" class="giveup">Give Up</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <form id="word-form" method="POST">
                <input type="text" name="word" id="guess" placeholder="Enter your guess" required>
                <!-- <button type="submit">Submit</button> -->
            </form>
            <div id="win">

            </div>
            <div id="currdiv">

            </div>
            <div id="result">
                
            </div>
        </div>
        <div id="empty1" class="hint">
            
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</body>
</html>
